* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 70px;
    background-color: rgb(178, 150, 6);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
}

.nav-h2 {
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(241, 241, 241);
}

.nav-h2:hover {
    color: rgb(20, 44, 195);
    transition: color 0.4s;
}